.button
{
    width: 100%;
    border-radius: 5px;
    padding: 7px 0;
    margin: 10px 0 12px 0; 
    /* background-color: rgb(1, 115, 214); */
    background-color: #2A2B42;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 15px;
}

.button:hover
{
    /* background-color: rgb(42, 119, 187); */
    background-color: #1B1E32;

}


