.error_modal
{
    position:absolute;
    top:0;
    left: 0;
    height: 100vh;
    width: 100%;
}

.backdrop
{
    position:absolute;
    top:0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal
{
    position:absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    width: 500px;
    background-color: white;
    border-radius: 10px;
}

.modal_header
{
    padding: 20px 20px 20px 20px;
    background-color: rgb(1, 115, 214);
    border-radius: 10px 10px 0 0;
    color: white;
    font-weight: 500;
    font-size: 18px;
}

.modal_body
{
    padding: 35px 20px 35px 20px;
}

.modal_footer
{
    padding: 0  20px 10px 20px;
}